<html>
    <head>
        <title>Quiz project</title>
    </head>

    <body>
        <h2>Quiz project</h2>        
        <p>Welcome to the home page.</p>
        
        {% if user.is_authenticated %}
        
        <p>Here we give some info on the user previous scores</p>
        
        <p>LORENZO: Start a new quiz from <a href = "{% url 'quiz:attempt' 1 %}">here</a>.</p>

        <p>LUCA: Start a new quiz from <a href = "{% url 'quiz:attempt' 2 %}">here</a>.</p>

        <p>TOMMASO: Start a new quiz from <a href = "{% url 'quiz:attempt' 3 %}">here</a>.</p>
                
        <p>PATRIZIO: Start a new quiz from <a href = "{% url 'quiz:attempt' 4 %}">here</a>.</p>
        
         <a href= "{% url 'users:logout' %}">Log out</a>
        
        {% else %}
        Please <a href= "{% url 'users:login' %}">log in</a>
        
        {% endif %}
        
        
    </body>
</html>