<html>
    <head>
        <title>Quiz project</title>
    </head>

    <body>
        <h2>Quiz project</h2>        
        <p>Here are your questions.</p>
        
        <ul>
        {% for pair in pairs %}
        <li>
       

               Who was the 42nd U.S President?
	           <br>
	           <input type="radio"  name="quest1" value="3">
	           <label>George Bush</label><br>

	           <input type="radio" name="quest1" value="2">
	           <label>Ronald Reagan</label><br>

	           <input type="radio" name="quest1" value="1">
	           <label>Bill Clinton</label><br>

	            <input type="radio" name="quest1" value="4">
	            <label>Obama</label><br>
	            </li>
	            
	            
	            Name the longest river in the world?
	           <br>
	           <input type="radio"  name="quest1" value="3">
	           <label>Mekong river</label><br>

	           <input type="radio" name="quest1" value="2">
	           <label>Congo river</label><br>

	           <input type="radio" name="quest1" value="1">
	           <label>Amazon River</label><br>

	            <input type="radio" name="quest1" value="4">
	            <label>The Nile</label><br>
	            </li>

               How many time zones are in Russia? 
	           <br>
	           <input type="radio"  name="quest1" value="3">
	           <label>4</label><br>

	           <input type="radio" name="quest1" value="2">
	           <label>8</label><br>

	           <input type="radio" name="quest1" value="1">
	           <label>11</label><br>

	            <input type="radio" name="quest1" value="4">
	            <label>13</label><br>
	            </li>
        
        
        
        
            {% for key, value in pair.items %}
            
                {% if key == "question" %}
                    {{ value }}
                    <br>
                {% else %}
                
                    <ul>
                    {% for answer in value %}
                        <li>
                        {{ answer }}
                        </li>
                    {% endfor %}
                    
                    </ul>
                                
                {% endif %}
                
            {% endfor %}
            
        </li>
        
        {% endfor %}
        </ul>
                
    </body>
</html>
        
        